*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
button{
    padding: 0.5em;
    border-radius: 5px;
}
#bars{
    margin-top: 1em;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 520px;
    justify-content: center;
    transition: 2s all ease;
    border: 1px solid black;
}

.bar{
    background: cyan;
    border: 1px solid black;
    width: 0.75em;
    transition: 0.1s all ease;
}

#input{
    display: flex;
    padding: 1em;
    justify-content: space-around;
}
